/*  ###########################################
    Primitives & Resets
    ########################################### */

* , *:before, *:after {
  -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}

body,div,dl,dt,dd,ul,ol,li,a,h1,h2,h3,h4,h5,h6,pre,form,fieldset,label,input,textarea,p,blockquote,table,th,td,iframe {
  padding: 0;
  margin: 0;
}

body {
  background: #fff;
  color: #000;
  font-size: 10px;
  font-family: Helvetica, Arial, sans-serif;
}

h1,h2,h3,h4,h5,h6 { font-weight: 900; }

h1 {
  font-size: 40px;
  line-height: 1em;
  text-transform: uppercase;
  font-weight: 400;
  color:rgba(66,66,66,0.8);
  margin: 0.66em 0;
}

h2 {
  font-size: 20px;
  line-height: 1em;
}

h3 {
  font-size: 10px;
  line-height: 1em;
}

h4 {
  font-size: 10px;
  line-height: 1em;
}

h5 {
  font-size: 10px;
  line-height: 1em;
}

h6 {
  font-size: 10px;
  line-height: 1em;
}

p {
  font-size: 10px;
  line-height: 1em;
}

address,caption,cite,code,dfn,th,var {
  font-style: normal;
  font-weight: normal;
}

ul,ol {
  list-style: none;
}

.labBadge {
  font-size: 20px;
  color: white;
  background: rgba(0, 0, 0, 0.3);
  line-height: 1em;
  padding: 10px 15px;
  text-decoration: none;
  text-align: center;
  vertical-align: middle;
  display: inline-block;
  font-weight: 100;
  margin:10px 0;
}

  .labBadge span {
    color:rgba(0,0,0,0.5);
  }
  .labBadge:hover {
    background: rgba(0,0,0,0.4);
  }

a:hover {
  text-decoration: none;
}

abbr, img {
  border: 0;
}

strong {
  font-weight: 900;
}

em {
  font-style: italic;
}

/*  ###########################################
    Utility Classes
    ########################################### */

.hidden { display: none; }

.offscreen {
  position: absolute;
  display: block;
  left: -999999px;
  top: -999999px;
}

/*  ###########################################
    Chrome
    ########################################### */

section {
  width: 1282px;
  margin:auto;
}

/*  ###########################################
    Components
    ########################################### */

.panes {
  overflow: hidden;
  border: 1px solid #ccc;
}
  .panes .pane {
    float: left;
    width: 640px;
    height: 480px;
    position: relative;
  }
  .panes .pane.destination {
  }
    .panes .pane.preview canvas {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 2;
      width: 640px;
      height: 480px;
      cursor: crosshair;
    }
    .panes .pane.preview video {
      background: #666;
      width: 640px;
      height: 480px;
    }
    .panes .pane.destination canvas {
      width: 640px;
      height: 480px;
    }

.controls {
  padding:20px 0;
}

/*  ###########################################
    View Specific Styles
    ########################################### */


